body{

font-family: Arial;
margin:0;
background:#f4f4f4;

}


.top-bar{

background:#39a9b9;
color:white;

display:flex;
justify-content:space-between;
align-items:center;

padding:10px 40px;

}


.social a{

color:white;
margin:10px;
font-size:20px;

}


.site-btn{

background:#ffd500;
padding:8px 12px;
text-decoration:none;
color:black;
border-radius:5px;

}


header{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 40px;
background:white;

}


.logo img{

width:120px;

}


nav a{

margin:10px;
text-decoration:none;
color:#333;

}


.doacao{

background:white;

max-width:600px;
margin:60px auto;

padding:40px;

border-radius:10px;

box-shadow:0 0 10px rgba(0,0,0,0.1);

text-align:center;

}


form{

display:flex;
flex-direction:column;

}


input,select{

margin:10px 0;
padding:10px;

border:1px solid #ccc;
border-radius:5px;

}


button{

margin-top:20px;

background:#39a9b9;
color:white;

padding:12px;

border:none;
border-radius:5px;

cursor:pointer;

}


button:hover{

background:#2c8d9a;

}


.whatsapp{

position:fixed;

bottom:20px;
right:20px;

background:#25D366;
color:white;

padding:15px;

border-radius:50px;

text-decoration:none;

}


footer{

background:#333;
color:white;

text-align:center;

padding:20px;

margin-top:40px;

}